@import "mixins";

.password-reset-form-container {
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
  padding: 0 20px; // スマホ用の余白

  .form-group {
    margin-bottom: 20px;
  }

  .form-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  .reset-btn {
    @include button-style(#3498db, #2980b9);
    margin-top: 20px;
  }

  // レスポンシブ対応
  @media (max-width: 768px) {
    max-width: 90%;

    .form-input {
      font-size: 15px;
      padding: 9px;
    }

    .reset-btn {
      font-size: 15px;
      padding: 10px 16px;
    }
  }

  @media (max-width: 480px) {
    .form-input {
      font-size: 14px;
      padding: 8px;
    }

    .reset-btn {
      font-size: 14px;
      padding: 9px 14px;
    }
  }
}
