.site-footer {
  background-color: #818181;
  padding: 20px 0;
  text-align: center;

  .footer-container h2 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;

    @media (max-width: 768px) { // モバイル向け
      font-size: 20px; // フォントサイズを縮小
    }
  }

  .site-title-link {
    color: white;
    text-decoration: none;
  }

  #footer-text {
    color: #fff;
    font-size: 14px;

    @media (max-width: 768px) { // モバイル向け
      font-size: 12px; // フォントサイズを縮小
    }
  }

  .footer-links {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;

    @media (max-width: 768px) { // モバイル向け
      flex-direction: column; // 縦並びに変更
      gap: 10px; // 間隔を調整
    }

    .footer-link {
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}