<h2 class="section-title"><%= t('titles.boards') %></h2>

<div class="board-grid">
  <% @boards.each do |board| %>
    <div class="board-card">
      <%= image_tag(board.image.attached? ? url_for(board.image) : 'noimage.png', alt: board.title, class: "board-thumbnail") %>
      <h3><%= link_to board.title, board_path(board) %></h3>
    </div>
  <% end %>
</div>

<div class="pagination">
  <%= paginate @boards %>
</div>
