@mixin button-style($color, $hover-color) {
  background-color: $color;
  color: white;
  border: none;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: $hover-color;
  }
}

.login-btn {
  @include button-style(#3498db, #2980b9);
}

.signup-btn {
  @include button-style(#2ecc71, #27ae60);
}

.post-btn {
  @include button-style(#e67e22, #d35400);
}

.mypage-btn {
  display: flex;
  align-items: center;
}

.user-icon {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  background-color: transparent;
}

.edit-btn, .logout-btn {
  width: 200px;
  margin: 0 auto 15px;
  display: block;
}

.edit-btn {
  @include button-style(#3498db, #2980b9);
}

.logout-btn {
  @include button-style(#e74c3c, #c0392b);
}

.delete-btn {
  @include button-style(#e74c3c, #c0392b);
  width: 200px;
  text-align: center;
}

.button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
