@import "variables";

footer {
  background-color: $background-color;
  color: $text-color;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  width: 100%;
}

.footer-container h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

#footer-text {
  font-size: 14px;
}
