@import "variables";

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-main {
  padding: 20px 0;
}

.flash {
  padding: 10px 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 16px;

  &.notice {
    background-color: #dff0d8;
    color: #3c763d;
  }

  &.alert {
    background-color: #f2dede;
    color: #a94442;
  }
}

.page-title {
  font-size: 28px;  // 何切るドットコムタイトルと合わせる
  margin-left: 30px; // 左に余白
  color: black;
}
