<% flash.each do |key, message| %>
  <% css_class = case key.to_sym
    when :notice then "flash notice"
    when :alert  then "flash alert"
    when :info   then "flash info"
    when :success then "flash success"
    else "flash"
  end %>
  <div class="<%= css_class %>"><%= message %></div>
<% end %>
