<footer class="site-footer">
  <div class="container footer-container">
    <h2><%= link_to t('site.title'), root_path, class: "site-title-link" %></h2>
    <p id="footer-text"><%= t('footer.text') %></p>
  </div>
</footer>